@{
    ViewData["Title"] = "Awesome Depiction of a Chart...";
}
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>
<body>
    <div class="container">
        <div class="row">
            <h2><i class="fa fa-audio-description" aria-hidden="true"></i>&nbsp;<i>Awesome Depiction</i> of a Chart...</h2>
            <div class="chart-container" style="position: relative; height:20vh; width:40vw">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js></script>
    <script>
        $.ajax({
            type: "POST",
            url: "/Condo2/NewChart",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (mems) {
                var aData = mems;
                var aLabels = aData[0];
                var aDatasets1 = aData[1];
                var dataT = {
                    labels: aLabels,
                    datasets: [{
                        label: '# of Emails',
                        data: aDatasets1,
                        backgroundColor: [
                            'rgba(255, 205, 86, 0.2)',
                            'rgba(255, 205, 86, 0.2)',
                            'rgba(255, 205, 86, 0.2)',
                            'rgba(255, 205, 86, 0.2)',
                            'rgba(255, 205, 86, 0.2)',
                            'rgba(255, 205, 86, 0.2)',
                            'rgba(255, 205, 86, 0.2)',
                            'rgba(255, 205, 86, 0.2)',
                            'rgba(255, 205, 86, 0.2)',
                            'rgba(255, 205, 86, 0.2)',
                            'rgba(255, 205, 86, 0.2)',
                            'rgba(255, 205, 86, 0.2)'
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)'
                        ],
                        borderWidth: 1
                    }]
                };
                var ctx = document.getElementById("myChart").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: dataT,
                    options: {
                        title: {
                            display: true,
                            text: 'Emails Sent Monthly During 2017',
                            fontFamily: 'tahoma',
                            fontSize: 18
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            },
            error: function (e) {
                alert(e);
            }
        });
    </script>
</body>
</html>
