@using loadingpanel.ViewModels
@model IEnumerable<SendEmailViewModel>
@{
    ViewData["Title"] = "Awesome Depiction of a MVC Grid...";
}
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/MVCGridItems/mvc-grid.css"/>
    <script src="http://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>
    <script src="/MVCGridItems/mvc-grid.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <h2><i class="fa fa-audio-description" aria-hidden="true"></i>&nbsp;<i>Awesome Depiction</i> of a MVC Grid...</h2>
            <p>@ViewData["Message"]</p>

            @(Html
            .Grid(Model)
            .Build(columns =>
            {
                columns.Add(model => model.Name).Titled("Name");
                columns.Add(model => model.Email).Titled("Email");
                columns.Add(model => model.Subject).Titled("Subject");
                columns.Add(model => model.Message).Titled("Message");
                columns.Add(model => model.TimeStampSent).Titled("TimeStampSent");
            })
            .Sortable()
            .Pageable(pager =>
            {
                pager.RowsPerPage = 10;
            })
            .Css("table-hover")
            )

        </div>
    </div>
    <script>
        $('.mvc-grid').mvcgrid();
    </script>
</body>
</html>
